* {
  padding: 0px;
  margin: 0px;
  font-family: Arial, Sans-Serif;
}

html, body {
  width: 100vw;
  height: 100dvh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: lightyellow;
}

div#campo {
  width: 85%;
  height: 400px;
  border: 1px solid #000;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
}

button#btnGerarNumero {
  width: 90px;
  height: 40px;
  background: #0f0;
  border-radius: 10px;
}